{erl_opts, [debug_info]}.

{deps, [
  {cowboy, "2.8.0"},
  {jiffy, "1.0.8"},
  {decimal, ".*", {git, "https://github.com/egobrain/decimal", {tag, "0.6.2"}}},
  {edate, ".*", {git, "https://github.com/dweldon/edate", {branch, "master"}}}
]}.

{shell, [
    {config, "priv/sys.config"},
    {apps, [swedish_retail_index]}
]}.

{dist_node, [{name, swedish_retail_index@core}]}.

{relx, [
    {release, {swedish_retail_index, "0.0.1"}, [swedish_retail_index]},
    {dev_mode, false},
    {sys_config, "priv/sys.config"},
    {vm_args, "priv/vm.args"},
    {include_erts, true},
    {extended_start_script, true},
    {include_src, false}
]}.
